.map  {
    width: 800px;
    height: 200px;
}


.button-draw, .button-undo, .button-redo {
    position: relative;
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
}

.button-setlimit {
    float: left;
    height: 35px;
    margin-left: 10px;
}

.text-setlimit {
    font-size:1.5em;
    float: left;
    margin-left: 30px;
    vertical-align: middle;
    text-align:center;
}

.action-view-container {
    position: relative;
    float: left;
    width: 400px;
}
